[Unit]
Description=Lanza las tareas programadas de Laravel cada minuto

[Timer]
OnCalendar=*-*-* *:*:00
AccuracySec=10s

[Install]
WantedBy=timers.target
